@mixin form-border {
    border: 1px solid lightgray;
    border-radius: 8px;
}

@mixin grid($numColumns, $gap) {
    display: grid;
    grid-template-columns: repeat($numColumns, 1fr);
    gap: $gap;
}

.notes {
    @include grid(6, 1vw);
    text-align: left;
    margin-top: 2%;
    margin-left: 100px;
    margin-right: 1vw;

    .note {
        @include form-border();
        padding: 5%;
        max-width: 300px;
        min-height: 30px;
        margin-bottom: 5%;
        &:hover {
            box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 30%);
        }
        .title {
            margin-top: 2%;
            margin-right: 45%;
        }
    }
}

.note .icons {
    visibility: hidden;
}

.note:hover .icons {
    visibility: visible;
}

.note .note-content .pin-icons {
    visibility: hidden;
}

.note:hover .note-content .pin-icons {
    visibility: visible;
}

@media only screen and (max-width: 1200px) {
    .notes {
        @include grid(4, 1vw);
    }
}

@media only screen and (max-width: 1100px) {
    .notes {
        .note {
            .title {
                margin-right: 40%;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .notes {
        @include grid(3, 1vw);
    }
}

@media only screen and (max-width: 700px) {
    .notes {
        @include grid(2, 1vw);
        .note {
            min-width: 20vw;
        }
    }
}
@media only screen and (max-width: 500px) {
    .notes {
        margin-left: 70px;
        @include grid(1, 1vw);
        margin-top: 6%;
        .note {
            min-width: 85%;
            .icons {
                display: flex;
                justify-content: left;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
