@import '../signup/SignUp.scss';

.sign-in-page {
    margin-bottom: 0%;
    .form {
        margin-bottom: 50%;
        .reset-password {
            padding-top: 2vh;
            margin-left: 0%;
        }
    }
}
