$gothic: "Zen Kaku Gothic Antique", sans-serif;

@mixin two-column-grid($gap) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap;
}

.signup {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    gap: 2vw;
    border: 1px solid lightgray;
    border-radius: 8px;
    max-width: 37vw;
    min-width: 37vw;
    text-align: left;
    margin-left: 30%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 5vh 5vh;

    .signup-title {
        font-size: 2.5vh;
        font-weight: lighter;
    }

    .form {
        .name-input {
            @include two-column-grid(1vw);
        }

        .first-button {
            text-transform: lowercase;
            margin-right: 7vw;
            // .use-email {
            //     text-transform: "none";
            //     font-weight: "bolder";
            //     font-size: "1.5vh";
            // }
        }

        .password-description {
            margin: 0;
            margin-left: 1vh;
            font-size: 1.4vh;
            max-width: 18vw;
            color: rgba(0, 0, 0, 0.6);
        }

        .show-password {
            font-size: 1.7vh;
            font-weight: lighter;
            margin-bottom: 7vh;
        }

        .sign-in {
            @include two-column-grid(10vw);
            padding-bottom: 3vh;
            padding-top: 3vh;
        }
    }

    .image-div {
        padding-left: 5vh;
        text-align: center;

        .acount-image {
            padding-top: 10vh;
            min-width: 90%;
            max-width: 100%;
        }

        .mail-description {
            font-weight: lighter;
        }
    }
}

@media only screen and (max-width: 1900px) {
    .signup {
        margin-left: 20%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 1500px) {
    .signup {
        margin-left: 10%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 1300px) {
    .signup {
        max-width: 60%;

        .form {
            .first-button {
                text-transform: lowercase;
                margin-right: 0vw;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .signup {
        grid-template-columns: 1fr;

        .form {
            .first-button {
                text-transform: lowercase;
                margin-right: 0vw;
            }

            .password-description {
                margin-right: 0%;
                min-width: 100%;
            }
        }

        .image-div {
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    .signup {
        grid-template-columns: 1fr;

        .form {

            .name-input {
                display: grid;
                grid-template-columns: 1fr;
            }

            .first-button {
                text-transform: lowercase;
                margin-right: 0vw;
            }

            .password-description {
                margin-right: 0%;
                min-width: 100%;
            }
        }

        .image-div {
            display: none;
        }
    }
}
